:root{
  --header-font-size: 18px;
  --main-font-family: helvetica;
  --default-margin: 0px 50px 0px 50px;
  --left-card-width: 40vw;
  --right-card-width: 60vw;

  --main-background-color: #F1EDEE;
  --secondary-background-color: #3D5467;
  --text-color-main: #2f2f31;
  --text-color-sec: #F1EDEE;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main-container{
  font-family: var(--main-font-family);
  text-align: left;
  color: var(--text-color-main); 
}

.hero-container{
  width: var(--left-card-width);
  height: 100vh;
  background-color: rgb(201, 141, 141);
  background-image: url("./img/red-panda.jpg");
  object-position: center;
  background-size: cover; /* Adjust the size of the background image */
  background-position: center; /* Set the position of the background image */
}

.header{
  min-width: 200px;
  max-width: 435px;
  /* text-align: justify; */
}
h1{
  margin: var(--default-margin);
  font-size: 20px;
}
h2,
h3{
  margin: var(--default-margin);
  font-size: calc(var(--header-font-size)*.8);
}
a{
  color: var(--secondary-background-color);
}

.form-container{
  flex-direction: column;
  gap: 30px;
  width: var(--right-card-width);
  height: 100vh;
  background-color: var(--main-background-color);
}
.form-card{
  height: 260px;
  width: 100%;
  background-color: var(--secondary-background-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 22px;
  color: var(--text-color-sec); 

}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: var(--default-margin);

}
.left-fields, .right-fields{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

}
label{
  font-size: calc(var(--header-font-size) / 1.2);
}
button{
  font-weight: bold;
  padding: 10px 40px 10px 40px;
  background-color: #3D5467;
  border: none;
  border-radius: 10px;
  margin: var(--default-margin);
  color: var(--main-background-color);
}
button:hover{
  background-color: #253440;

}



